/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/


/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
 * Primary Blue: #44D5FF;
 * Dark Blue: #0F2C34;
 * Primary Pink: #FF7FA8;
 */

* {
  font-family: 'Open Sans';
  font-weight: 600;
}

body {
  background-color: #D7215E;
}

section {
  overflow-x:hidden;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#logo{
  opacity: 0.9;
}

#mlh-localhost {
  display: block;
  max-width: 300px;
  min-width: 300px;
  position: fixed;
  right: 40px;
  top: 0px;
  width: 10%;
  z-index: 10000;
  border: 10px solid #D7215E;
}


/*
 * Hero Section
 */

.hero {
  /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://www.routiers-luzern.ch/fileadmin/yag/12/450_luzern1.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://www.hslu.ch/-/media/campus/common/images/gallery/h/1%20medienmitteilungen%20und%20news/2014/hslu/departement%20informatik%20suurstoffi/h%20suurstoffi%202.jpg?h=800&la=de-ch');

*/
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/header.jpg');
  background-size: cover;
  color: white;
  min-height: 110vh;
}

.hero img {
  max-width: 800px;
}

.hero hr {
  border-top: 15px solid #0F2C34;
  margin: 0;
  position: relative;
  top: -14px;
}

.hero .wrapper {
  padding-top: 14vh;
}

.hero .wrapper h1 {
  background: #fff;
  background: rgba(255, 255, 255, .3);
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 10px 30px;
}

.hero .wrapper h2 {
  font-size: 28px;
  font-weight: 200;
  padding-bottom: 35px;
}

.hero .wrapper h3 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 35px;
}



.hero .buttons {
  margin: 40px 0;
}

.hero .buttons a {
  background: #fff;
  border: 10px solid #D7215E;
  border-radius: 40px;
  color: #D7215E;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #D7215E;
  color: #fff;
  transition: all 0.2s ease;
}

.hero .buttons a:not(:last-child) {
  margin-right: 10px;
}

/*
 * About Section
 */

.about {
  border-width: 15px 0;
  background-color: #fff;
  padding: 130px 0;
  position: relative;
}

.about p {
  color: #0F2C34;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

.about p span {
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Info Section
 */

.sponsor {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 0;
  position: relative;

}

.sponsor .item{
  padding: 20px;
}

.sponsor h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 120px 0 40px 0;
}

.sponsor .item img {
  max-width: 100%;
  width: 100%;
  float: none;
  margin: 0 auto;
}

.sponsor .item p {
  margin-top: 10px;
  font-size: 20px;
}

.sponsorItem{

    margin: 0 auto;
}

/*
* Video
*/

.videoSection {
  padding: 70px;
  position: relative;
}

/*
 * Team Section
 */

.team {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.team .item{
  padding: 20px;
}

.team .item h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.team .item img {
  max-width: 220px;
}

.team .item p {
  font-size: 20px;
}

/*
 * FAQ Section
 */

.faq {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.faq h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.faq .question hr {
  border-top: 8px solid #0F2C34;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

/*
* timeline seciton
*/

.timeline {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.timeline h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.timeline h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  margin-left: 13px;
}

.timeline p{
  font-size: 18px;
  line-height: 1.5em;
}

/*
 * Footer Section
 */

.footer {
  background-color: #D7215E;
  color: #fff;
  padding: 30px 0;
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer h3 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

@media(max-width: 768px) {
  .hero .buttons a {
    border-width: 8px;
    display: block;
    font-size: 20px;
    margin: 5px;
  }

  .hero img {
    width: 250px;
  }

  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }
}


.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
