---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<section class="videoSection">
  <div class="videoWrapper">
    <iframe src="https://www.youtube-nocookie.com/embed/z8-jc2HPNvA?rel=0" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr> {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="timeline">
  <div class="container">
    <h1 class="text-center">Timeline</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        {% for item in site.event.timeline.days %}
        <div class="question col-xs-12 col-sm-12 text">
          <p class="col-xs-10 col-sm-offset-2">{{item.day}}</p>
          {% for item in item.events %}
          <p class="col-xs-6 col-sm-4 col-sm-offset-2">{{ item.time}}</p>
          <p class="col-xs-6 col-sm-6"> // {{ item.title }}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="sponsor">
  <div class="container text-center">
    <h1 class="text-center">Sponsors</h1>
    <!-- <div class="row row-centered">
      {% for sponsors in site.event.sponsor.mainSponsor%}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-centered">
        <div class="item">
          <a href="{{ sponsors.url }}" target="_blank">
            <img src="{{ sponsors.image }}" alt="{{ sponsors.description }}" />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
 -->
    <div class="row row-centered">
      {% for sponsors in site.event.sponsor.sponsors %}
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-centered">
        <div class="item">
          <a href="{{ sponsors.url }}" target="_blank">
            <img src="{{ sponsors.image }}" alt="{{ sponsors.description }}" />
          </a>
        </div>
      </div>
      {% endfor %}

    </div>

     {{site.event.sponsor.sponsorus | markdownify}}
    <div class="row row-centered">
      <h1 class="text-center">Food & Drinks provided by</h1>
      {% for sponsors in site.event.sponsor.sponsorsSmall %}
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 col-centered">
        <div class="item">
          <a href="{{ sponsors.url }}" target="_blank">
            <img src="{{ sponsors.image }}" alt="{{ sponsors.description }}" />
          </a>
        </div>
      </div>
      {% endfor %}

    </div>


    <h1 class="text-center">Supported by</h1>
    <div class="row row-centered">
      {% for sectionSupport in site.event.sponsor.sectionSupport %}
      <div class="col-xs-6 col-sm-6 col-md-4 text-center col-centered">
        <div class="item">
          <a href="{{ sectionSupport.url }}" target="_blank">
            <img src="{{ sectionSupport.image }}" alt="{{ sponsors.description }}" />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
